*.db
*.Rhistory
obsolete/
*.pdf
/data/climate_data/by_year/raw
/data/climate_data/by_month/raw
*.cpp
*.o
*.dll
*.png
*.so
/round_[1-5]*
/round_7*
/round_6_TeTuSu_UNSCALED/model_objects*
