*.db
*.Rhistory
/obsolete
*.pdf
/data/climate_data/by_year/raw
/data/climate_data/by_month/raw
*.pptx
*.cpp
*.o
*.dll
/data/chemPhys_data/obsolete
/data/climate_data/by_month/obsolete
/data/climate_data/by_year/obsolete
*.png
*.so
/round*
*.xlsx
